<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CarCompany">
    <select id="selectCarCompany" parameterType="Map" resultType="Map">
        select CP_NAME,
        CAR_NAME,
        DATE_YEAR,
        COUNT(`OPTION`) as OPTION_COUNT
        from CAR_INFO CI
            INNER JOIN CAR_INFO_OPTIONS COP ON CI.CI_PK = COP.CI_FK
            INNER JOIN COMPANY CP ON CP.CP_PK = CI.CP_FK
            INNER JOIN CAR_NAME CN ON CN.CN_PK = CI.CN_FK
            INNER JOIN MODEL_YEAR MY ON MY.YEAR_PK = CI.YEAR_FK
            INNER JOIN OPTIONS OP ON OP.OP_PK = COP.OP_FK
            GROUP BY CP.CP_PK, CN.CN_PK, MY.YEAR_PK, CI.CI_PK
        HAVING 1 = 1
        <choose>
            <when test="search != null and search != ''">
                and DATE_YEAR = #{search}
            </when>
        </choose>
        ;
    </select>

</mapper>
