<component name="libraryTable">
  <library name="mybatis" type="repository">
    <properties maven-id="org.mybatis:mybatis:3.5.16" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/mybatis/mybatis/3.5.16/mybatis-3.5.16.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>